## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gat,IL,31.61,34.76,62.01,72,0,4.14,clear sky
1,1,Tomatlan,MX,19.93,-105.25,71.85,93,1,2.44,clear sky
2,2,Avarua,CK,-21.21,-159.78,75.20,83,50,5.82,scattered clouds
3,3,Busselton,AU,-33.65,115.33,82.99,29,0,8.34,clear sky
4,4,Adrar,MR,20.50,-10.07,80.11,29,60,11.36,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Avarua,CK,-21.21,-159.78,75.20,83,50,5.82,scattered clouds
3,3,Busselton,AU,-33.65,115.33,82.99,29,0,8.34,clear sky
4,4,Adrar,MR,20.50,-10.07,80.11,29,60,11.36,broken clouds
6,6,Kavieng,PG,-2.57,150.80,85.12,65,84,11.54,broken clouds
9,9,Kuala Terengganu,MY,5.33,103.14,87.80,74,40,6.93,scattered clouds
15,15,Wagar,SD,16.15,36.20,76.53,64,0,3.94,clear sky
22,22,Hithadhoo,MV,-0.60,73.08,83.93,67,89,4.16,overcast clouds
32,32,Kudahuvadhoo,MV,2.67,72.89,82.74,69,36,2.62,scattered clouds
35,35,Vaini,TO,-21.20,-175.20,78.80,74,20,10.29,few clouds
45,45,Kapaa,US,22.08,-159.32,80.60,74,75,14.99,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

# No EMPTY ROWS FOUND..

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Avarua,CK,75.20,scattered clouds,-21.21,-159.78,
3,Busselton,AU,82.99,clear sky,-33.65,115.33,
4,Adrar,MR,80.11,broken clouds,20.50,-10.07,
6,Kavieng,PG,85.12,broken clouds,-2.57,150.80,
9,Kuala Terengganu,MY,87.80,scattered clouds,5.33,103.14,
15,Wagar,SD,76.53,clear sky,16.15,36.20,
22,Hithadhoo,MV,83.93,overcast clouds,-0.60,73.08,
32,Kudahuvadhoo,MV,82.74,scattered clouds,2.67,72.89,
35,Vaini,TO,78.80,few clouds,-21.20,-175.20,
45,Kapaa,US,80.60,broken clouds,22.08,-159.32,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    #base_url = "https://maps.googleapis.com/maps/api/directions/json?"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Avarua,CK,75.20,scattered clouds,-21.21,-159.78,Paradise Inn
3,Busselton,AU,82.99,clear sky,-33.65,115.33,Observatory Guest House
4,Adrar,MR,80.11,broken clouds,20.50,-10.07,
6,Kavieng,PG,85.12,broken clouds,-2.57,150.80,Nusa Island Retreat
9,Kuala Terengganu,MY,87.80,scattered clouds,5.33,103.14,Hotel Grand Continental Kuala Terengganu (4 Star)

In [10]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Avarua,CK,75.20,scattered clouds,-21.21,-159.78,Paradise Inn
3,Busselton,AU,82.99,clear sky,-33.65,115.33,Observatory Guest House
6,Kavieng,PG,85.12,broken clouds,-2.57,150.80,Nusa Island Retreat
9,Kuala Terengganu,MY,87.80,scattered clouds,5.33,103.14,Hotel Grand Continental Kuala Terengganu (4 Star)
22,Hithadhoo,MV,83.93,overcast clouds,-0.60,73.08,Scoop Guest House

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} & {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))